* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  cursor: pointer;
}

.header_sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.header {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 1215px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #000000;
}

.header_link {
  text-decoration: none;
  color: #000000;
}

.enter_btn a {
  color: #ffffff;
  text-decoration: none;
}
.logo h1 {
  font-family: "inter", sans-serif;
  color: #000000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main_logo_for_seller {
  color: #fff;
  text-decoration: none;
}

.lang_money {
  display: flex;
  gap: 25px;
}
.languages,
.money {
  display: flex;
  align-items: baseline;
}

.languages svg,
.money svg {
  margin-left: 10px;
  width: 10px;
  line-height: 0;
}

.link_enter p {
  font-weight: bold;
}

.link_enter {
  background-color: rgba(0, 150, 97, 1);
  padding: 16px 32px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.link_enter:hover {
  background-color: #ffffff;
  color: rgba(0, 150, 97, 1);
  outline: 1px solid rgba(0, 150, 97, 1);
}

.sec1 {
  background-color: rgb(244, 244, 244);
  width: 100%;
}

.wrapper1 {
  display: flex;
  justify-content: center;
}

.registration_card {
  width: 925px;
  margin-top: 90px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.reg_card_inner {
  width: 90%;
  margin-top: 60px;
  margin-bottom: 60px;
}
.reg_car_txt h1 {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  margin-bottom: 12px;
}

.reg_car_txt p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  opacity: 0.6;
  margin-bottom: 40px;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 20px;
}
.checkbox_reg {
  margin-bottom: 50px;
}

.checkbox-label a {
  text-decoration: none;
  color: rgba(0, 150, 97, 1);
}

.checkbox-label a:hover {
  text-decoration: underline;
  color: rgba(0, 150, 97, 1);
}
.continue_btn {
  border: none;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 150, 97, 1);
  border-radius: 8px;
  padding: 15px 25px 15px 25px;
  transition: all 200ms ease-in-out;
  font-weight: 600;
}

.continue_btn:hover {
  background-color: #ffffff;
  color: rgba(0, 150, 97, 1);
  outline: 1px solid rgba(0, 150, 97, 1);
}
.continue_reg_btn {
  text-align: center;
}
.input_data {
  border: 1px solid rgba(233, 233, 233, 1);
  border-radius: 5px;
  width: 400px;
  height: 55px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 20px;
}

.input_data:focus {
  outline: 1px solid rgb(208, 208, 208);
}

.account_reg {
  margin-bottom: 40px;
}
.account_reg h1,
.about_company_reg h1,
.contacts_reg h1 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 15px;
}

.account_input_flex {
  display: flex;
  justify-content: space-between;
}
.contactrs_input_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.about_company_flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 30px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.checkbox-input {
  width: initial;
  cursor: pointer;
}
/* FOOTER SECTION */
footer {
  width: 100%;
  background-color: rgba(27, 27, 30, 1);
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgb(47, 47, 52);
}

.footer_inner {
  display: flex;
  align-items: center;
  color: #fff;
  width: 1200px;
  justify-content: space-around;
  margin-bottom: 70px;
  gap: 10px;
}

.footer_NOVO h1 {
  font-size: 48px;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.footer_NOVO p {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.6;
}
.footer_for_buyer p {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.6;
}

.footer_for_buyer h4 {
  font-family: Manrope;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.btns_for_user {
  display: flex;
  gap: 60px;
  position: relative;
  top: 20px;
}

.btns_for_user a {
  text-decoration: none;
  color: #fff;
  transition: all 200ms ease-in-out;
}

.logo_link {
  color: #fff;
  text-decoration: none;
}

.btns_for_user a:hover {
  opacity: 0.6;
}
.footer_soc_media p {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.6;
}
.flex_soc_media {
  display: flex;
  gap: 12px;
  position: relative;
  top: 20px;
  align-items: center;
}
.footer_soc_media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo3 {
  width: 30px;
}
.logo2 {
  width: 31px;
  height: auto;
}

.logo1 {
  width: 28px;
}
.soc_logo {
  transition: all 200ms ease-in-out;
}

.soc_logo:hover {
  opacity: 0.6;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed rgb(47, 47, 52);
  width: 1200px;
  height: 55px;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.copyright p {
  color: #fff;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 100;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .header {
    width: 900px;
  }
  .registration_card {
    width: 800px;
  }
  .input_data {
    border: 1px solid rgba(233, 233, 233, 1);
    border-radius: 5px;
    width: 340px;
    height: 55px;
  }
  .copyright {
    width: 1000px;
  }

  .footer_inner {
    width: 1000px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    width: 700px;
  }

  .link_enter {
    background-color: rgba(0, 150, 97, 1);
    padding: 12px 28px;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
  }
  .registration_card {
    width: 700px;
  }
  .input_data {
    border: 1px solid rgba(233, 233, 233, 1);
    border-radius: 5px;
    width: 300px;
    height: 55px;
  }
  .copyright {
    width: 700px;
    border: 1px dashed rgb(47, 47, 52);
  }

  .footer_inner {
    width: 700px;
    margin-bottom: 30px;
    align-items: baseline;
  }

  .footer_NOVO p {
    font-size: 12px;
    font-weight: 100;
    max-width: 230px;
  }

  .btns_for_user {
    margin-top: 0px;
    gap: 10px;
    flex-direction: column;
    position: relative;
    top: 20px;
  }
}

@media (min-width: 479px) and (max-width: 767px) {
  .header_sec1 {
    height: 70px;
  }
  .header {
    width: 80%;
    margin: auto;
  }
  .lang_money {
    display: none;
  }

  .link_enter {
    background-color: rgba(0, 150, 97, 1);
    padding: 12px 28px;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
  }

  .link_enter p {
    font-size: 12px;
  }

  .reg_car_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reg_car_txt p {
    width: 80%;
  }
  .registration_card {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .input_data {
    border: 1px solid rgba(233, 233, 233, 1);
    border-radius: 5px;
    width: 100%;
    height: 55px;
  }

  .main_logo_for_seller h1 {
    font-size: 24px;
  }
  .contactrs_input_flex,
  .account_input_flex {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
    margin-bottom: 24px;
    flex-wrap: wrap;
  }
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed rgb(47, 47, 52);
    width: 380px;
    height: 45px;
    margin-bottom: 20px;
  }

  .footer_inner {
    height: auto;
    display: flex;
    flex-wrap: wrap; /* Разрешаем перенос */
    justify-content: flex-start;

    width: 380px;
  }

  .footer_for_buyer,
  .footer_soc_media {
    order: 1; /* Опционально: меняет порядок */
  }

  .btns_for_user {
    gap: 5px;
    flex-direction: column;
    top: 5px;
  }
  .footer_for_buyer {
    margin-right: 100px;
  }

  .footer_NOVO {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  footer {
    height: auto;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .header_sec1 {
    height: 60px;
  }
  .header {
    width: 80%;
    margin: auto;
  }
  .lang_money {
    display: none;
  }

  .link_enter {
    background-color: rgba(0, 150, 97, 1);
    padding: 8px 14px;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
  }

  .link_enter o {
    display: none;
  }

  .link_enter p {
    font-size: 16px;
  }

  .reg_car_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reg_car_txt h1 {
    font-size: 34px;
    line-height: 1;
  }

  .reg_car_txt p {
    width: 90%;
    font-size: 14px;
  }
  .registration_card {
    margin-top: 40px;
    width: 80%;
    margin-bottom: 40px;
  }
  .input_data {
    border: 1px solid rgba(233, 233, 233, 1);
    border-radius: 5px;
    width: 100%;
    height: 55px;
  }

  .main_logo_for_seller h1 {
    font-size: 24px;
  }
  .contactrs_input_flex,
  .account_input_flex {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
    margin-bottom: 24px;
    flex-wrap: wrap;
  }

  .checkbox-label p {
    font-size: 12px;
  }
  footer {
    height: auto;
  }
  .footer_NOVO {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed rgb(47, 47, 52);
    width: 280px;
    height: 45px;
    margin-bottom: 20px;
  }

  .footer_inner {
    height: auto;
    display: flex;
    flex-wrap: wrap; /* Разрешаем перенос */
    justify-content: flex-start;

    width: 280px;
  }

  .footer_for_buyer,
  .footer_soc_media {
    order: 1; /* Опционально: меняет порядок */
  }

  .footer_for_buyer {
    margin-bottom: 20px;
    margin-right: 22px;
  }

  .flex_soc_media {
    top: 5px;
  }

  .btns_for_user {
    gap: 5px;
    flex-direction: column;
    top: 7px;
  }

  .btns_for_user h4 {
    font-size: 12px;
  }
}
